extends layout

block content
  h1= title
  p My todos
  input#input-name(type='text', placeholder='Enter name')
  input#input-task(type='text', placeholder='Enter task')
  button#submit-data Submit
  input#search-name(type='text', placeholder='Enter user name')
  button#search Search
  script(src='javascripts/main.js')

